body{
	background:url(Stupa_Borobudur.jpg);
	background-size: cover;
}

div{
	height: 500px;
	width: 700px;
	background-image: url("avocado.jpg");
	border: solid red;
	margin: 0 auto;

	
}

p{
	text-align: left;
	color: blue;

}
